<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cuasmex.saec">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/saec_small"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.dam.profesor.navigationdrawer.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.dam.profesor.navigationdrawer.Preferencias">

        </activity>
        <activity
            android:name="com.dam.profesor.navigationdrawer.activity_login"
            android:label="@string/_strTitleIniciarSesion" />
        <activity
            android:name="com.dam.profesor.navigationdrawer.activity_registro"
            android:label="@string/_strTitleRegistrarse"
            />

    </application>

</manifest>
